#articlesScrollbar {
  height: 91.25% !important;
}
#articlesScrollbar-wider {
  height: 100% !important;
  width: 145% !important;
}
#articlesScrollbar-extrawider {
  height: 100% !important;
  width: 165% !important;
}
.header-cont:first-child {
  margin-left: 1%;
  &.bigger {
    justify-content: flex-start;
    width: 12%;
  }
}
.header-cont:nth-child(2) {
  justify-content: flex-start;
}

.table-body-row {
  @apply w-[99%] h-14 mt-4 flex rounded-md items-center border border-solid border-[#5a678556];
  .row-data {
    @apply w-1/10 h-10 mt-1 flex items-center pl-3 text-sm border-r font-medium border-[#5a678556];
    &.higher {
      @apply h-14 mt-0 text-sm text-[14px];
    }
  }
  .row-data:first-child {
    cursor: pointer;
    padding-left: 13px;
  }
  .row-data:last-child {
    border-right: none;
  }
  &.higher {
    @apply h-24;
  }
}

.info-popUp-content {
  border: 1px solid black !important;
  width: 300px !important;
  height: unset !important;
  background-color: white !important;
  z-index: 999 !important;
  -webkit-animation: anvil 0.2s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
